HR_template.json
{
  "name": "HR-template",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nMy name is  Nathan, HR Assistant. How can I help you today with your HR needs?",
        "options": {
          "allowFileUploads": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -464,
        816
      ],
      "id": "0ec51dde-b8fe-4a32-a29b-e78739096aac",
      "name": "When chat message received",
      "webhookId": "52b5b650-37e4-4018-9297-7658024f2851",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "data0",
        "options": {
          "joinPages": true,
          "keepSource": "json"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        64,
        336
      ],
      "id": "86a7f256-2c2b-4c40-a134-6a1aa0b818d5",
      "name": "Extract CV content",
      "alwaysOutputData": false,
      "retryOnFail": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Candidate CV,:\n{{ $json.data[0].chatInput }}\nJob profile:\n{{ $json.data[1].cv_output }}\n\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an AI assistant that evaluates whether a candidate’s CV meets the essential requirements of a job profile.\n\nYour task:\n- Carefully analyze the CV provided in the user prompt.\n- Compare it against the job profile’s essential requirements.\n- Determine if the candidate **clearly meets all requirements**.\n\nOutput Rules:\n- Return **only valid JSON** with this exact structure:\n\n{\n  \"result\": \"pass | fail\",\n  \"explanation\": \"A brief explanation of why the candidate passes or fails based on the essential requirements.\",\n  \"candidate_cv\": \"{{candidate_cv}}\",\n  \"job_profile\": \"{{job_profile}}\"\n}\n\n- Replace `{{candidate_cv}}` and `{{job_profile}}` with the actual objects from the user prompt.\n- Use `\"pass\"` only if the candidate clearly meets all essential requirements.\n- Use `\"fail\"` otherwise.\n- Do not assume or infer information not present in the CV or job profile.\n- The JSON must be valid.\n- Do not add fields, wrap in objects, include markdown, or add any text outside the JSON.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1056,
        352
      ],
      "id": "f190ab40-2c24-4bca-ab77-0e9050388dd7",
      "name": "Profile AI Agent",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        256,
        672
      ],
      "id": "dc14fc2b-4095-488b-9375-ca3978704540",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1056,
        688
      ],
      "id": "23ae4b7a-5b30-4816-b5a8-45326871e018",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "obcY2xKf9ObMaqSI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"result\": {\n      \"type\": \"string\",\n      \"enum\": [\"pass\", \"fail\"]\n    },\n    \"explanation\": {\n      \"type\": \"string\",\n      \"description\": \"Brief explanation of evaluation results.\"\n    },\n    \"candidate_cv\": {\n      \"type\": \"string\",\n      \"description\": \"The exact JSON string of the original candidate CV provided in the prompt.\"\n    },\n    \"job_profile\": {\n      \"type\": \"string\",\n      \"description\": \"The full text of the job profile.\"\n    }\n  },\n  \"required\": [\"result\", \"explanation\", \"candidate_cv\", \"job_profile\"]\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1120,
        560
      ],
      "id": "1f173818-e3fa-4acc-ad49-b890256612bc",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "=define",
        "text": "=Candidate CV:\n{{ $json.output.candidate_cv }}\n\nJob profile:\n{{ $json.output.job_profile }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=### ROLE\nYou are an Intelligent Recruiting Agent. Your goal is to generate a targeted interview script by comparing a Candidate's CV against a Job Profile. \n\n### TASK\n1. Cross-reference the Candidate CV with the Job Profile to identify essential requirements, potential skill gaps, and areas requiring deeper verification.\n2. Generate a structured list of interview questions that cover:\n   - Technical Proficiency: Specific tools and methodologies mentioned in the JD.\n   - Gap Analysis: Questions targeting requirements in the JD that are not explicitly detailed in the CV.\n   - Behavioral/Situational: How the candidate has applied their skills in past relevant scenarios.\n3. Assign a difficulty level (Junior, Mid, Senior, Expert) to each question based on the seniority of the role.\n\n### OUTPUT FORMAT\nYou must return a valid JSON object. Do not include markdown formatting (like ```json), and do not include any conversational text. Use the following structure:\n\n{\n  \"candidate_name\": \"string\",\n  \"role_title\": \"string\",\n  \"interview_questions\": [\n    {\n      \"id\": \"number\",\n      \"topic\": \"string\",\n      \"difficulty\": \"Junior | Mid | Senior | Expert\",\n      \"question\": \"string\",\n      \"expected_answer_points\": [\"point 1\", \"point 2\"],\n      \"jd_requirement_reference\": \"Specific requirement from the job profile this question addresses\"\n    }\n  ],\n  \"overall_interview_strategy\": \"A brief note on the focus of this interview (e.g., 'Focus on technical depth in React' or 'Verify leadership experience').\"\n}\n\n### CONSTRAINTS\n- Every question must be actionable and specific. \n- Ensure the questions are updated for present industry standards.\n- Do not repeat information already clearly confirmed in the CV; instead, dive deeper into implementation and results.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1712,
        160
      ],
      "id": "473cbbef-e714-4500-8537-c59a3e841edb",
      "name": "Interview Agent"
    },
    {
      "parameters": {
        "promptType": "=define",
        "text": "=Candidate CV:\n{{ $json.output.candidate_cv }}\n\nJob profile:\n{{ $json.output.job_profile }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=### ROLE\nYou are an Intelligent HR & Payroll Agent specializing in global compensation benchmarking. Your task is to perform a data-driven salary estimation by comparing a Candidate CV against a Job Profile, provided by the user prompt.\n\n### ANALYSIS PROTOCOL\n1. **Experience Audit**: Map the candidate's specific years of relevant experience against the job profile requirements.\n2. **Market Alignment**: Use current benchmarks.\n3. **Location Weighting**: Adjust values based on the location specified in the Job Profile.\n\n### CONSTRAINTS\n- **Output ONLY valid JSON**. No markdown backticks (```json), no conversational filler, and no preamble.\n- **Sources**: You must cite at least two specific 2025 salary data sources with live-style links.\n- **Values**: All salary figures must be strings representing the annual gross salary.\n\n### REQUIRED OUTPUT SCHEMA\n{\n  \"profile\": {\n    \"name\": \"Extract candidate name from CV\",\n    \"role\": \"Extract role title from Job Profile\",\n    \"years_of_experience\": \"Number of years relevant to this specific role\",\n    \"location\": \"City or region from Job Profile\"\n  },\n  \"market_data\": {\n    \"25th_percentile\": \"Calculated 2025 low-end for this role/location\",\n    \"median\": \"Calculated 2025 market midpoint\",\n    \"75th_percentile\": \"Calculated 2025 competitive market value\",\n    \"90th_percentile\": \"Calculated 2025 top-tier value\"\n  },\n  \"recommended_offer\": {\n    \"base_lower_bound\": \"Fair starting offer for this specific candidate\",\n    \"base_typical\": \"Target offer based on candidate's exact match\",\n    \"base_upper_bound\": \"Maximum budget for a high-performing match\",\n    \"upside_strong_offer\": \"Estimated Total Compensation (Base + 2025 average bonus/equity)\",\n    \"reason\": \"Brief justification linking the candidate's specific skills to 2025 market scarcity\"\n  },\n  \"sources\": [\n    {\n      \"name\": \"e.g., Robert Half 2025 Tech Salary Guide\",\n      \"link\": \"www.roberthalf.com\",\n      \"details\": { \"data_point\": \"Relevant 2025 trend or percentile\" }\n    },\n    {\n      \"name\": \"e.g., Levels.fyi 2025 Pay Report\",\n      \"link\": \"www.levels.fyi\",\n      \"details\": { \"data_point\": \"Relevant 2025 trend or percentile\" }\n    }\n  ]\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1712,
        512
      ],
      "id": "726ae1a1-33c3-451d-96a2-a26e851f2917",
      "name": "Salary Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "builtInTools": {
          "webSearch": {
            "searchContextSize": "medium",
            "country": "DE"
          }
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1712,
        336
      ],
      "id": "7a65cc6b-3c75-4c91-9900-ae576642b1ca",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "obcY2xKf9ObMaqSI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "builtInTools": {
          "webSearch": {
            "searchContextSize": "medium",
            "country": "DE"
          }
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1712,
        688
      ],
      "id": "feedf5d9-2cbd-48cf-8bfd-aabab569b1f6",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "obcY2xKf9ObMaqSI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"candidate_name\": { \"type\": \"string\" },\n    \"role_title\": { \"type\": \"string\" },\n    \"interview_questions\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"id\": { \"type\": \"number\" },\n          \"topic\": { \"type\": \"string\" },\n          \"difficulty\": { \"type\": \"string\", \"enum\": [\"Junior\", \"Mid\", \"Senior\", \"Expert\"] },\n          \"question\": { \"type\": \"string\" },\n          \"expected_answer_points\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n          \"jd_requirement_reference\": { \"type\": \"string\" }\n        },\n        \"required\": [\"id\", \"topic\", \"difficulty\", \"question\", \"expected_answer_points\", \"jd_requirement_reference\"]\n      }\n    },\n    \"overall_interview_strategy\": { \"type\": \"string\" }\n  },\n  \"required\": [\"candidate_name\", \"role_title\", \"interview_questions\", \"overall_interview_strategy\"]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1872,
        336
      ],
      "id": "626ddb60-a82c-47bc-bc09-8ae55d96ce35",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"properties\": {\n    \"profile\": {\n      \"type\": \"object\",\n      \"additionalProperties\": false,\n      \"properties\": {\n        \"name\": { \"type\": \"string\", \"description\": \"Candidate full name extracted from the CV.\" },\n        \"role\": { \"type\": \"string\", \"description\": \"Target job title from the job profile.\" },\n        \"years_of_experience\": { \"type\": \"string\", \"description\": \"Total relevant years of experience for this specific role.\" },\n        \"location\": { \"type\": \"string\", \"description\": \"Work location (City/Region/Remote).\" }\n      },\n      \"required\": [\"name\", \"role\", \"years_of_experience\", \"location\"]\n    },\n    \"market_data\": {\n      \"type\": \"object\",\n      \"additionalProperties\": false,\n      \"properties\": {\n        \"25th_percentile\": { \"type\": \"string\", \"description\": \"2025 Market Low (include currency).\" },\n        \"median\": { \"type\": \"string\", \"description\": \"2025 Market Average (include currency).\" },\n        \"75th_percentile\": { \"type\": \"string\", \"description\": \"2025 High-End Market (include currency).\" },\n        \"90th_percentile\": { \"type\": \"string\", \"description\": \"2025 Top-Tier Market (include currency).\" }\n      },\n      \"required\": [\"25th_percentile\", \"median\", \"75th_percentile\", \"90th_percentile\"]\n    },\n    \"recommended_offer\": {\n      \"type\": \"object\",\n      \"additionalProperties\": false,\n      \"properties\": {\n        \"base_lower_bound\": { \"type\": \"string\", \"description\": \"Conservative 2025 starting base salary.\" },\n        \"base_typical\": { \"type\": \"string\", \"description\": \"Target base salary for a standard hire.\" },\n        \"base_upper_bound\": { \"type\": \"string\", \"description\": \"Competitive ceiling for top-tier matching.\" },\n        \"upside_strong_offer\": { \"type\": \"string\", \"description\": \"Estimated 2025 Total Compensation (Base + Bonus + Equity).\" },\n        \"reason\": { \"type\": \"string\", \"description\": \"Justification linking CV skills (e.g., AI expertise) to 2025 scarcity.\" }\n      },\n      \"required\": [\"base_lower_bound\", \"base_typical\", \"base_upper_bound\", \"upside_strong_offer\", \"reason\"]\n    },\n    \"sources\": {\n      \"type\": \"array\",\n      \"minItems\": 2,\n      \"items\": {\n        \"type\": \"object\",\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"name\": { \"type\": \"string\", \"description\": \"Official 2025 salary report name.\" },\n          \"link\": { \"type\": \"string\", \"description\": \"Direct URL to report.\" },\n          \"details\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"data_point\": { \"type\": \"string\", \"description\": \"Specific 2025 trend or data point cited.\" }\n            },\n            \"required\": [\"data_point\"]\n          }\n        },\n        \"required\": [\"name\", \"link\", \"details\"]\n      }\n    }\n  },\n  \"required\": [\"profile\", \"market_data\", \"recommended_offer\", \"sources\"]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1888,
        688
      ],
      "id": "3e7382e7-dbeb-4bd6-a0b3-450d038ab7dc",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2464,
        512
      ],
      "id": "cb3eb23a-7baf-4a7f-8544-52e71fc1aa1a",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "obcY2xKf9ObMaqSI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1680,
        1152
      ],
      "id": "b942c904-5757-4e77-aa6b-a019c04e0c07",
      "name": "OpenAI Chat Model5",
      "credentials": {
        "openAiApi": {
          "id": "obcY2xKf9ObMaqSI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1824,
        1152
      ],
      "id": "540857e6-2be5-47b0-9368-1bf0546b4a2a",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "efd8b53a-2a9d-42bf-8c51-e28af0fecefc",
              "name": "chatInput",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        240
      ],
      "id": "85dbd7e7-7661-4d51-ba84-020cb0dc0cd0",
      "name": "Chat Input"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a CV/Resume data extraction specialist.\nYour task is to analyze the provided CV text and extract all relevant information into a structured JSON object that strictly conforms to the predefined CV JSON schema.\nExtraction Guidelines:\n•\tExtract personal information: first name, last name, email, phone number, current location, current country, origin country, LinkedIn page, and GitHub page.\n•\tExtract work experience: for each past position, include company name, location (city and country), position title, years worked, start and end dates, and a concise summary of responsibilities and achievements.\no\tIf the CV lists an end date as \"Present\", \"Current\", or similar, treat it as December 31, 2025 for calculation purposes.\no\tCompute years_worked as the difference between the start and end dates in years, including partial years as decimals (e.g., 2.5).\n•\tExtract education history: for each degree, include degree type, major(s), institution, location, start year, end year, and grade if available.\n•\tExtract skills: categorize into hard skills (technical/domain-specific) and soft skills (interpersonal/professional).\n•\tExtract languages along with proficiency levels.\n•\tExtract any additional information: certifications, awards, projects, availability, references, and notes.\nOutput Requirements:\n•\tOutput only valid JSON. Do not include markdown, code fences, or any text outside the JSON.\n•\tThe JSON must match the schema exactly, with all top-level fields present.\n•\tDo not wrap the JSON in any additional objects (e.g., \"output\" or \"text\").\n•\tIf a field has no value, use null for single-value fields and [] for arrays.\n•\tDo not omit required fields or add undefined fields.\n•\tDates must use ISO format (YYYY-MM-DD) when possible.\n•\tEnsure all extracted data is accurate, consistent, and complete.\n•\tWhen calculating years_worked, always treat ongoing roles as ending in December 31, 2025 to ensure accurate experience computation."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        256,
        464
      ],
      "id": "854e7c06-32a2-4828-8a79-20487497d6fa",
      "name": "CV Parser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "efd8b53a-2a9d-42bf-8c51-e28af0fecefc",
              "name": "cv_output",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        464
      ],
      "id": "fa8c607a-3490-41c9-a5f3-a4a5e924bbcc",
      "name": "CV output"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "798d94d2-a621-4dac-a0f5-955883724aeb",
              "leftValue": "={{ $json.files[0].fileName }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -256,
        816
      ],
      "id": "20836b96-32a1-47d3-aed4-e7b6ee55a649",
      "name": "Has CV"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        848,
        352
      ],
      "id": "8bd9fbd3-b26d-4072-bb6e-f0abf6ae0693",
      "name": "Flatten CV + Job"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        688,
        352
      ],
      "id": "459e7797-ebc4-4de0-90f7-ac7d6e659a99",
      "name": "Merge CV & Job"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "798d94d2-a621-4dac-a0f5-955883724aeb",
              "leftValue": "={{ $json.output.result }}",
              "rightValue": "pass",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1408,
        352
      ],
      "id": "b0be829c-66c8-4eb6-b433-9016185e8fd3",
      "name": "Has pass",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=result: {{ $json.output.result }}\ncandidate_cv: {{ $json.output.candidate_cv }}\nuser: {{ $json.chatInput }}",
        "options": {
          "systemMessage": "=You are a recruitment assistant with access to the candidate’s CV and evaluation result. You also have memory enabled.\nInputs available:\n•\tresult\n•\tcandidate_cv\n•\tuser\nObjective\n1.\tGenerate a professional email template based on the evaluation result.\n2.\tAsk the user for approval to send the email.\n3.\tIf approved, finalize and send the email using the Send email tool.\n4.\tAlways use “Head of HR” as the sender name and “m|rig” as the company name in the final email.\n5.\tDo not send any email without explicit user confirmation.\nEmail Generation Rules\n•\tIf result == \"pass\": Create a professional email that:\no\tCongratulates the candidate\no\tStates they have been selected for the next phase\no\tMentions they will be contacted soon to schedule a meeting\no\tUses a polite, professional, and encouraging tone\nKey wording guidance (do not be overly informal):\no\t“We are pleased to inform you…”\no\t“Next phase of the selection process”\no\t“We will contact you shortly to schedule a meeting”\n•\tIf result != \"pass\": Create a professional rejection email that:\no\tPolitely informs the candidate they were not selected for the next phase\no\tThanks them for their interest and time\no\tKeeps the tone respectful and neutral\no\tAvoids negative or overly detailed explanations\nKey wording guidance:\no\t“After careful consideration…”\no\t“We will not be moving forward at this time”\no\t“We appreciate your interest”\nInteraction Flow (MANDATORY)\nStep 0 – Candidate Result:\n- If result == \"pass\", start by saying:\n  “The candidate has passed the evaluation and is eligible for the next phase of the selection process.”\n- If result != \"pass\", start by saying:\n  “The candidate has not been selected to proceed to the next phase.”\nStep 1 – Draft Email (DO NOT SEND)\n•\tPresent the email clearly (subject + body)\n•\tUse placeholders [Candidate Name], [Position] if needed\n•\tDo not call the Send email tool yet\nStep 2 – Ask for Approval\nAfter showing the draft, ask exactly this (or very close):\n“Is this email okay, and may I proceed to send it to the candidate?”\nWait for the user’s response.\nStep 3 – Handle User Response\n•\tIf the user response is positive (e.g., “yes”, “ok”, “send it”, “approved”):\no\tReplace placeholders with:\n\tSender name → “Head of HR”\n\tCompany name → “m|rig”\no\tFinalize the email using the approved template\no\tCall the Send email tool\no\tConfirm to the user that the email has been sent\n•\tIf the user response is negative or requests changes:\no\tDo not send the email\no\tUpdate the email based on the user’s feedback\no\tAsk for approval again\nTool Usage Rules\n•\tUse the Send email tool only after explicit approval\n•\tNever send partial or draft emails\n•\tEnsure the final email matches the approved version\nTone & Style Requirements\n•\tProfessional\n•\tClear and concise\n•\tNeutral and respectful\n•\tNo emojis\n•\tNo slang"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1728,
        960
      ],
      "id": "5736ac46-aff7-49c1-8636-1d95bf8122ae",
      "name": "Recruitment Email Agent",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e90fabfe-dea9-415f-8d3a-4fdf500551da",
              "name": "output.result",
              "value": "={{ $json.output.result }}",
              "type": "string"
            },
            {
              "id": "99ebcc61-0981-4020-bb3c-608f7a2230d1",
              "name": "output.candidate_cv",
              "value": "={{ $json.output.candidate_cv }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1408,
        512
      ],
      "id": "84d12fa8-55b5-4cea-99f8-a476612a60a0",
      "name": "Input for email agent"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2096,
        336
      ],
      "id": "0904efd5-323c-4218-8e3d-1b0aec48d371",
      "name": "Merge Interview & Salary"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2288,
        336
      ],
      "id": "8e6b2f9f-e94f-4128-8fc4-1b24606593a7",
      "name": "Flatten Interview + Salary"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "options": {
          "systemMessage": "=you are a agent expecialize in agregatting and summarize the information. Generate a plain-text summary from the input, that will include the main information about the candidate, all the question to be ask and the forecast salary to be propose.\n\nRules:\n- Use ONLY the provided inputs.\n- Do NOT infer or assume information.\n- Plain text only.\n- Deterministic output.\n- If required information is missing, write:\nInformation not provided in the input.\n\n\n\n\n\n\n\n",
          "returnIntermediateSteps": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2464,
        336
      ],
      "id": "e6e58de7-7ccb-430d-b7ea-7c0c06d9bdd3",
      "name": "Interview Summary Agent"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "output",
        "options": {
          "fileName": "={{ $('Flatten Interview + Salary').item.json.data[0].output.candidate_name }}_interview"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2768,
        336
      ],
      "id": "a08cc678-c196-463b-a29d-1e7b0f5666c5",
      "name": "Interview Summary File"
    },
    {
      "parameters": {
        "subject": "={{ $('Flatten Interview + Salary').item.json.data[0].output.candidate_name }}_Interview",
        "emailFormat": "text",
        "text": "=Hello,\n\nAttached is the file concerning the upcoming interview with {{ $('Flatten Interview + Salary').item.json.data[0].output.candidate_name }}",
        "options": {
          "attachments": "data"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2944,
        336
      ],
      "id": "952daa26-360d-49ef-aae3-33136b0b3a4d",
      "name": "Interview Summary email",
      "webhookId": "232e3c10-52f7-4294-a0ea-65635c454246"
    },
    {
      "parameters": {
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailFormat": "text",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSendTool",
      "typeVersion": 2.1,
      "position": [
        1952,
        1152
      ],
      "id": "0d523c78-9556-4759-ac1c-cbffff9c27de",
      "name": "Send Email",
      "webhookId": "54b387c2-05f7-4bee-9eaa-fe98483adf9a",
      "credentials": {
        "smtp": {
          "id": "tX3OAwlb774bXi32",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Process Data",
        "height": 1280,
        "width": 976
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "256d56a0-e2bd-4519-9d07-abd3a4972464",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Profile Check",
        "height": 1280,
        "width": 336
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1040,
        0
      ],
      "typeVersion": 1,
      "id": "bb52e8fe-43bb-4dad-b320-ac7ea1a29540",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Interview Data",
        "height": 864,
        "width": 1120
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1616,
        0
      ],
      "typeVersion": 1,
      "id": "74720a5c-8e61-4983-b857-3efecd5bf493",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Email Candidate",
        "height": 384,
        "width": 464
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1616,
        896
      ],
      "typeVersion": 1,
      "id": "10c1569d-f556-410d-bb92-c37bcd85a505",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Has CV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract CV content": {
      "main": [
        [
          {
            "node": "CV Parser",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chat Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "CV Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Profile AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Profile AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Profile AI Agent": {
      "main": [
        [
          {
            "node": "Input for email agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Has pass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Interview Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Salary Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Interview Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Salary Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Interview Agent": {
      "main": [
        [
          {
            "node": "Merge Interview & Salary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salary Agent": {
      "main": [
        [
          {
            "node": "Merge Interview & Salary",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Interview Summary Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Recruitment Email Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Recruitment Email Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Chat Input": {
      "main": [
        [
          {
            "node": "Merge CV & Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CV Parser": {
      "main": [
        [
          {
            "node": "CV output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CV output": {
      "main": [
        [
          {
            "node": "Merge CV & Job",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Has CV": {
      "main": [
        [
          {
            "node": "Extract CV content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Recruitment Email Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten CV + Job": {
      "main": [
        [
          {
            "node": "Profile AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge CV & Job": {
      "main": [
        [
          {
            "node": "Flatten CV + Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has pass": {
      "main": [
        [
          {
            "node": "Interview Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Salary Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input for email agent": {
      "main": [
        [
          {
            "node": "Recruitment Email Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Interview & Salary": {
      "main": [
        [
          {
            "node": "Flatten Interview + Salary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten Interview + Salary": {
      "main": [
        [
          {
            "node": "Interview Summary Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Interview Summary Agent": {
      "main": [
        [
          {
            "node": "Interview Summary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Interview Summary File": {
      "main": [
        [
          {
            "node": "Interview Summary email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "ai_tool": [
        [
          {
            "node": "Recruitment Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "768808ea-245d-4275-84fd-79e3a00d67c0",
  "meta": {
    "instanceId": "28b93cbad6e68c5602916a502227f12bb8be4c5e219993cd8e12fcdb7024e5a7"
  },
  "id": "IG9J28oD9dJpcPIq6JNtU",
  "tags": []
}